.hero {
    text-align: center;
    background-image: url(https://img.freepik.com/premium-vector/phone-chat-cartoon-man-woman-exchange-messages-mobile-application-people-holding-electronic-devices-emoji-with-hearts-online-messenger-vector-social-relationship-concept_176516-2274.jpg);
    background-size: cover;
    background-position: center;
    color: black;
    font-weight: bold;
    padding: 100px 0;
    height: 100vh;
    width: 100vw;
    h1 {
        font-size: 80px;
        margin-bottom: 20px;
        padding-top: 200px;
    }
    p {
        font-size: 38px;
        max-width: 800px;
        margin: 0 auto;
    }
    button {
        padding: 10px 20px;
        border: none;
        margin-top: 20px;
        border-radius: 5px;
        background-color: #4CAF50;
        color: #fff;
        font-size: 32px;
        cursor: pointer;
        transition: background-color 0.3s;
        &:hover {
            background-color: #ccc;
        }
    }
}