<!-- chat.component.html -->
<div class="chat-container">
    <div class="chat-header">
        <h1>Chat</h1>
    </div>
    <div class="chat-body">
        <div class="chat-message">
            <p> Zdravo mami, mi lahko nakažeš 100$, da si kupim Fortnite V-Buckse? </p>
        </div>
        <div class="chat-message">
            <p> Rabil bi jih takoj, ker sem odvisen! </p>
        </div>
    </div>
    <div class="chat-footer">
        <form>
            <input type="text" placeholder="Vnesite vaše sporočilo...">
            <button type="submit">Pošlji</button>
        </form>
    </div>
</div>