nav {
    background-color: #4CAF50;
    color: white;
    height: 60px;
    display: flex;
    align-items: center;
    .nav-container {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        .nav-logo {
            a {
                text-decoration: none;
                color: white;
                font-size: 20px;
                font-weight: bold;
                margin-right: 40vw;
            }
        }
        .nav-links {
            a {
                text-decoration: none;
                color: white;
                margin-right: 20px;
                font-size: 18px;
            }
        }
    }
}