<div class="register-container">
    <div class="register-header">
        <h1>Registracija</h1>
    </div>
    <form class="register-form">
        <label for="email">E-mail</label>
        <input type="email" id="email" placeholder="Vnesite vaš email...">
        <label for="username">Uporabniško ime</label>
        <input type="text" id="username" placeholder="Vnesite vaše ime...">
        <label for="password">Geslo</label>
        <input type="password" id="password" placeholder="Vnesite vaše geslo...">
        <button type="submit">Registriraj me</button>
    </form>
</div>